<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/javascript/jquery.validate.min.js"></script>
<script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/javascript/common.js"></script>

<!-- Custom Theme Style -->
<link href="/stylesheets/custom.css" rel="stylesheet">


</head> 
<body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <% if(errors){ %>
          <% errors.forEach( (item)=>{ %>
            <p><%= item.msg %></p>
          <% }) %>
        <% } %>
        <div class="animate form register_form">
          <section class="login_content">
            <form id="registerForm" method="POST" action='/member/rigister'>
              <h1>Create Account</h1>
              <div>
                <input type="text" name="username" class="form-control" placeholder="User ID" required="" />
              </div>
              <div>
                <input type="email" name="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <input type="submit" class="hide">
                <a class="btn btn-default submit" id ="registerBtn" href="">Submit1</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="/admin/member/login" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Monster Admin</h1>
                    <p>©2016 All Rights Reserved. Monster</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $("#registerBtn").click(function(){
          $("#registerForm").submit();
          return false;

        })
      })
    </script>
</body>
</html>
