<aside> 
    <div class="icon-menu">
        <h1 class="logo">Logo</h1>
        <ul class="icon-list">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div> 
    <div class="menu"> 
        <h2>1Depth Menu</h2>
        <ul class="lnb">
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu2</a></li>
            <li><a href="#">Menu3</a></li>
        </ul>
        <h2>1Depth Menu</h2>
        <ul class="lnb">
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu2</a></li>
            <li><a href="#">Menu3</a></li>
        </ul>
    </div> 
</aside>