<div class="dock <%= docCate %>" id="dock">
    <ul>
        <li><a class="on" href="/m/"><div class="dock-home"></div>홈</a></li>
        <li><a href="/m/product/"><div class="dock-product"></div>상품</a></li>
        <li><a href="/m/subscribe/"><div class="dock-subscribe"></div>구독</a></li>
        <li><a href="/m/favorite/"><div class="dock-like"></div>좋아요</a></li>
        <li><a href="/m/mypage/"><div class="dock-push"></div>알림</a></li>
    </ul>
</div>