<div class="dock">
    <ul>
        <li><a href="#"><div class="dock-home"></div>홈</a></li>
        <li><a href="#"><div class="dock-subscribe"></div>구독</a></li>
        <li><a href="#"><div class="dock-like"></div>좋아요</a></li>
        <li><a href="#"><div class="dock-push"></div>알림</a></li>
    </ul>
</div>