<header>
    <a href="/m/adminSW" id="headerMenuBtn" class="icon-back"></a>
    <h1>STOCK<span class="color-orange">Z</span>INE</h1>
    <a href="/m/mypage/" class="icon-setting openMask"></a>
</header>