<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title> New Document </title>
<link rel="stylesheet" href="/stylesheets/ui.admin.css"> 
<link rel="stylesheet" href="/stylesheets/circle.css"> 

</head> 
<body> 
<div class="wrap"> 
    <div class="login-box">
        <div class="logo">
            LOGO
        </div>
        <form>
        <div class="input-box">
            <div class="group">      
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>ID</label>
            </div>
                
            <div class="group">      
                <input type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="login-btn">
                <a href="/stockwebzine/admin/admin.html">
                    LOGIN
                </a>
            </div>
        </div>
        </form>
    </div> 
</div> 
</body> 
</html> 